asgiref==3.2.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.0.5
django-scheduler==0.9.3
get==2019.4.13
icalendar==4.0.5
idna==2.9
lxml==4.5.0
Pillow==7.1.1
pkg-resources==0.0.0
post==2019.4.13
public==2019.4.13
pyTelegramBotAPI==3.6.7
python-crontab==2.4.1
python-dateutil==2.8.1
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.23.0
schedule==0.6.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
